%h1 Your experience of this study

= render partial: "page"

%p
  Think back to when you completed the survey on the iPad in the hospital a year ago.

= form_tag save_url(page: 4, key: @participant.key) do
  - letters = %w{a b c d}
  - @questions.length.times do |i|
    - @answer = @answers[i]
    - if i == 2
      %p{id: "q19"}
        Which parts of the research might have affected your drinking?
    %p{id: "q#{i}"}
      - if i >= 2 && i <= 5
        &nbsp;&nbsp;(#{letters[i - 2]})
      #{@questions[i].text.html_safe}
      = hidden_field "answer[]", "question_id"
      %br
      = select "answer[]", "value", @questions[i].values, {include_blank: true}, {class: "required"}

  = render partial: "continue"

:javascript
  $(configurePage4);
