%h1 Comments

= render partial: "page"

= form_tag save_url(page: 7, key: @participant.key) do
  - @answer = @answers[0]
  %p
    = @questions[0].text.html_safe
    %br
    = hidden_field "answer[]", "question_id"
    = text_area "answer[]", "value", size: "80x10"

  = render partial: "continue"
