%h1 Your use of healthcare in the last 6 months

= render partial: "page"

= form_tag save_url(page: 3, key: @participant.key) do
  - @questions.length.times do |i|
    - @question, @answer = @questions[i], @answers[i]
    %p{id: "q#{i + 1}"}
      = @question.text.html_safe
      = hidden_field "answer[]", "question_id"
      %br
      = select "answer[]", "value", @question.values, {include_blank: true}, {class: "required"}
      - case i
      - when 0
        visits.
      - when 1, 2
        times.
      - when 3
        nights.

  = render partial: "continue"

:css
  p { margin-bottom: 2em; }
