%h1 We need your advice

= render partial: "page"

%p
  Which of the following forms of support would you utilise if it were
  available?

= form_tag save_url(page: 6, key: @participant.key) do
  - letters = %w{a b c}
  - @questions.length.times do |i|
    - @answer = @answers[i]
    %p{id: "q#{i}"}
      - if i <= 2
        &nbsp;&nbsp;(#{letters[i]})
      = @questions[i].text.html_safe
      = hidden_field "answer[]", "question_id"
      %br
      - if i == 5
        = text_area "answer[]", "value", size: "70x5", class: "required"
      - elsif @questions[i].values.nil?
        = text_field "answer[]", "value", class: "required"
      - else
        = select "answer[]", "value", @questions[i].values, {include_blank: true}, {class: "required"}

  = render partial: "continue"

:javascript
  $(configurePage6);

:css
  input, textarea { margin-left: 2em; }
